

- name: "Install egpu : xorg 20-nvidia.conf"
  template: src=templates/egpu/20-nvidia.conf dest=/etc/X11/xorg.conf.d/
  become: yes

- name: "Install egpu : xorg 01-laptop.conf"
  template: src=templates/egpu/01-laptop.conf dest=/etc/X11/inactive/
  become: yes

- name: "Install egpu : gpuswitch script"
  template: src=templates/egpu/gpuswitch.sh dest=/usr/bin/ mode=0755
  become: yes

- name: "Install egpu : create gpuswitch.service"
  template: src=templates/egpu/gpuswitch.service dest=/etc/systemd/system/
  become: yes

- name: "Install egpu : enable gpuswitch.service"
  shell: systemctl enable gpuswitch.service
  become: yes