[Unit]
     Description=Script to detect and switch between Integrated Graphics and External GPU

[Service]
     ExecStart=/usr/bin/gpuswitch.sh

[Install]
     WantedBy=multi-user.target
